
html {
    font-size: 3.5vw;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color:rgb(41,58,76);
    color: rgb(224, 224, 224);
}

.top {
    margin: 0;
}

.bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgb(65, 92, 121, 0);
}

.background {
    background-color:rgb(41,58,76);
}

.fade {
    height: 2rem;
    background: linear-gradient(
        to top,
        rgb(41,58,76, 1),
        rgb(41,58,76, 0)
    )
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


