
html {
    font-size: min(3.5vmin, 3vh);
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color:rgb(41,58,76);
    color: rgb(224, 224, 224);
}

.top {
    margin: 0;
    z-index: 20;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30rem;
    background-color: rgb(41,58,76);
}

.bottom {
    position: fixed;
    padding-top: 1rem;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgb(41,58,76);
}

.background {
    background-color:rgb(41,58,76);
}

.fade {
    height: 2rem;
    background: linear-gradient(
        to top,
        rgb(41,58,76, 1),
        rgb(41,58,76, 0)
    )
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 26rem;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}