h1 {
    margin: 0;
    padding-top: 1rem;
    font-size: 3rem;
    margin-bottom: 0;
}

h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: normal;
}

.address_help {
    font-size: 1.4rem;
    padding-top: 0.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.top_padding {
    margin-top: 0.5rem;
}

.address_info {
    margin: auto;
    width: 24rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    background-color: rgb(30,44,61);
    color: rgb(172, 172, 172);
    margin-top: 1rem;
    cursor: pointer;
}

ol {
    margin: 0.6rem;
}

.welcome_info {
    margin: auto;
    width: 24rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    text-align: left;
    padding: 1rem;
    background-color: rgb(30,44,61);
    color: rgb(172, 172, 172);
}

.payment {
    float: left;
    margin: auto;
    width: 24rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    background-color: rgb(30,44,61);
    color: rgb(172, 172, 172);
    margin-top: 0.5rem;
    cursor: pointer;
}

.highlight {
    color: rgb(165,206,255);
}

.highlight2 {
    color: rgb(103,254,166);
}

.left {
    float: left; 
    text-align: left;
}

.right {
    float: right; 
    text-align: right;
}

.address {
    width: 26rem;
    border-radius: 2rem;
    height: 10rem;
    border: 0px;
    outline: 0px;
    padding: 2.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    font-size: 1.4rem;
    background-color: rgb(30,44,61);
    /* color: rgb(255, 195, 66); */
    color: rgb(165,206,255);
    margin-bottom: 0.7rem;
    resize: none;
}

.address::placeholder {
    font-size: 1.5rem;
}

.button {
    height: 4rem;
    width: 26rem;
    border-radius: 2rem;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    font-size: 2.1rem;
    background-color: rgb(165,206,255);
    color: rgb(30,44,61);
    margin-bottom: 1rem;
}

.button:disabled,
.button[disabled]{
    background-color: rgba(165, 205, 255, 0.199);
    cursor:default;
}

.amount {
    height: 4rem;
    width: 26rem;
    border-radius: 2rem;
    border: 0px;
    outline: 0px;
    cursor: text;
    font-size: 1.8rem;
    background-color: rgb(30,44,61);
    color: rgb(224, 224, 224);
    margin-bottom: 1rem;
    text-align: center;
}

@supports (-webkit-touch-callout: none) {
    .amount {
        width: 24rem;
    }
}

.currency {
    height: 4rem;
    width: 4rem;
    text-align: left;
    padding-left: 1.7rem;
    border: 0px;
    outline: 0px;
    background-color: rgba(30, 44, 61, 0);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
    position: absolute;
}

.currency::placeholder {
    color: rgb(165,206,255);
}

#qrcode > img {
    width: 20rem;
    height: 20rem;
}

#qrcode {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    display: inline-block;
}

.qrcode_border {
    background-color: rgb(30,44,61);
    width: 26rem;
    padding: 1rem;
    padding-top: 2rem;
    line-height: 0;
    display: inline-block;
    box-sizing: border-box;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.scan_top {
    background-color: rgb(30,44,61);
    display: inline-block;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 22rem;
}

.scan_bottom {
    background-color: rgb(30,44,61);
    display: inline-block;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    width: 22rem;
}

.scan_bottom > h2 {
    font-size: 1.7rem;
}

.amount_info {
    color: rgb(165,206,255);
}

#nano_amount_info {
    color: rgb(165, 165, 165);
}

#success {
    z-index: -10;
    margin: 0;
    padding: 0;
    -moz-transform: translateY(11rem);
    -webkit-transform: translateY(11rem);
    transform: translateY(11rem);
    font-size: 23rem;
    position: relative;
    color: rgb(103,254,166);
}

.success_front {
    color: rgb(103,254,166);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.success_title {
    color: rgb(103,254,166);
}

.success_back {
    background-color: rgb(103,254,166);
}

.info {  
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(30,44,61);
    font-size: 1.4rem;
    border-radius: 2rem;
    padding: 1rem;
}

#currency_list {
    background-color: rgb(41,58,76);
}

.buffer {
    height: 8rem;
}

.currency_button {
    background-color: rgb(30,44,61);
    color: rgb(165,206,255);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

