h1 {
    margin-top: 1rem;
    font-size: 3rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: normal;
}

.address_help {
    font-size: 1.4rem;
    padding-top: 0.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.address_info {
    margin: auto;
    width: 24rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    background-color: rgb(30,44,61);
    color: rgb(172, 172, 172);
}

.address_short {
    color: rgb(255, 195, 66);
}

.address {
    width: 26rem;
    border-radius: 2rem;
    height: 10rem;
    border: 0px;
    outline: 0px;
    padding: 2.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    font-size: 1.4rem;
    background-color: rgb(30,44,61);
    color: rgb(255, 195, 66);
    margin-bottom: 0.7rem;
    resize: none;
}

.address::placeholder {
    font-size: 1.5rem;
}

.button {
    height: 4rem;
    width: 26rem;
    border-radius: 2rem;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    font-size: 1.8rem;
    background-color: rgb(165,206,255);
    color: rgb(30,44,61);
    margin-bottom: 1rem;
}

.button:disabled,
.button[disabled]{
    background-color: rgba(165, 205, 255, 0.199);
    cursor:default;
}

.amount {
    height: 4rem;
    width: 26rem;
    border-radius: 2rem;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    font-size: 1.8rem;
    background-color: rgb(30,44,61);
    color: rgb(224, 224, 224);
    margin-bottom: 1rem;
    text-align: center;
}

.currency {
    height: 4rem;
    width: 4rem;
    text-align: left;
    padding-left: 1.7rem;
    border: 0px;
    outline: 0px;
    background-color: rgba(30, 44, 61, 0);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
    position: absolute;
}

.currency::placeholder {
    color: rgb(165,206,255);
}

#qrcode > img {
    width: 20rem;
    height: 20rem;
}

#qrcode {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    display: inline-block;
}

.qrcode_border {
    background-color: black;
    width: 26rem;
    padding: 1.5rem;
    line-height: 0;
    border-radius: 2rem;
    display: inline-block;
    box-sizing: border-box;
}

.scan_top {
    background-color: black;
    display: inline-block;
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.scan_bottom {
    
}